body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #222;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 150px;
}

h2 {
    color: #2563eb;
}

p {
    font-size: 20px;
}
